
body{
    background-color: rgb(206, 206, 206);
}
.navbar#nav{
    /*background-color: rgb(62, 136, 246);
    background-color: #1F271B;*/
    background-color: salmon;
}
.nav-link{
    color: white;
}
.header{
    background-color: beige;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.header a{
    margin-top: 5px;
}
main{
    min-height: 749px;
    background-color: beige;
}
#mainBar{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: aquamarine;
}
.check{
    cursor: pointer;
    background-color: #fff;
    width: 20px;
    height: 20px;
    appearance: none;
    border: 2px solid #888;
    border-radius: 10px;
}
input[type="checkbox"]:checked{
    background-color: rgb(62, 62, 62);
    color: white;
}
#cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.card{    
    margin:10px 0px;
    /*background-color: #66ab8c;*/
    background-color: aquamarine;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.3s;
    color:black;
}

div[name='eventoItem']:hover{
    /*background-color: rgb(130, 130, 130);*/
    background-color: salmon;
    color: white;
    box-shadow: 3px 3px 5px 5px rgb(63, 63, 63);
}
div[name='eventoItem']:hover .cardP{
    /*background-color: black;*/
    background-color: aquamarine;
    color: black;   
    font-weight: bolder;
}


.cardP{
    /*background-color: rgb(63, 63, 63); */
    background-color: #66ab8c;
    color:white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.5s, color 0.5s, font-weight 0.5s;
}
.detailsLink{
    text-decoration: none;
    margin-bottom: 5px;
    background-color: salmon;
    color:white;
    border-radius: 5px;
    padding: 5px;
    font-weight: bolder;
}

@keyframes linkanimado {
    0% {background-color: salmon;
          color:white;
        padding-left:5% ;}
    50%{
        background-color: beige;
        color:black;
        padding-left: 65%;}
    100%{
        background-color:salmon;
        padding-left: 5%;
    }
}

div[name='eventoItem']:hover .detailsLink{
    animation-name: linkanimado;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
#contact{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 403px;
}
#contact form{
    margin: 20px;
    padding: 10px 0px;
    height: 65vh;
}
label{
    font-weight: bolder;
}
#contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
textarea{
    height: 30vh;
}

input[type="submit"]{
    background-color: blue;
    color:white;
    border-radius: 5px;
    margin-top: 10px;
}
#stats{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
#statsTable,th,td,tr{
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
}
tr,td{
    height: 20px;
}
th{
    background-color: rgb(140, 140, 140);
}
.tdresaltado{
    background-color: rgb(203, 202, 202);
}
#footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: salmon;
}
#footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}